.~lock*
*.ods#

# ignore personal workspace settings, leave only source items. Each to their own, no platform is the same...
.vscode

# ignore reference documents
reference-docs

# ignore drawio backup docs
*.drawio.bkp